body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Source Sans Pro', sans-serif;
     background-color: #fff;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

#home-signup {
    background-color: #1b1b1b;
    padding: 0px 15px 15px 15px;
    border-radius: 5px;
    box-shadow: 3px 3px #6d6d6d;
}

h1, h2, h3, h4 {
    font-weight: bold;
}

a, a:hover {
    text-decoration: none;
    color: black;
}

#create {
    color: #fff;
}