@model RegisterViewModel
@{
    ViewData["Title"] = "Home";
}

<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h1 class="display-3">Ultimate campaign management system.</h1>
                <hr class="my-4">
                <p class="lead">Welcome to Campaign Domain. We're building the ultimate campaign management system for tabletop RPGs. The project will go live soon so sign up for an account to be notified!</p>
            </div>
            <div class="col-md-4" id="home-signup">
                <form asp-controller="Account" asp-route-returnUrl="@ViewData[" ReturnUrl "]" asp-action="Register" method="post">
                    <h3>Create a new account.</h3>
                    <hr />
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Email"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password"></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ConfirmPassword"></label>
                        <input asp-for="ConfirmPassword" class="form-control" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                    <p>Text about password requirements.</p>
                    <button type="submit" class="btn btn-block"><h4>Sign Up</h4></button>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
